.background-img {
    display: flex;
    margin-left: 60vw;
}

.background-img img {
    position: absolute;
    z-index: 0;
}


* {
    margin: 0;
    z-index: 1;
}


/*------------------navigation------------------*/


nav {
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}
.logo span:first-child {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.7rem;
}
.logo span:last-child {
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation-bar {
    display: flex;
}
.navigation-bar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.navigation-bar a {
    margin-right: 50px;
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 80px;
    height: 80px; 
}
.menu div {
    margin: 5px 0;
    background-color: black;
    width: 20px;
    height: 1px;
}


/*------------------main------------------*/


main {
    display: flex;
    padding-left: 15vw;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.main-text span:first-child {
    font-size: 0.8rem;
    letter-spacing: 3px;
    color: #e47fae;
    margin-bottom: 50px;
}
.main-text span:last-child {
    font-size: 2.7rem;
    color: #9f82d3;
}
.main-text h1 {
    font-size: 2.7rem;
    width: min-content;
    white-space: nowrap;
    margin-bottom: 50px;
}
.main-text p {
    font-size: 1.2rem;
    width: min-content;
    white-space: nowrap;
    line-height: 40px;
    margin-bottom: 50px;
}

.contact-link a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.contact-link span {
    color: #e47fae;
    font-weight: bold;
}